{% extends "pwa_base.html" %}
{% load i18n %} {# Cargar la librería de internacionalización #}

{% block title %}{{ titulo_pagina }} - {% trans "Gestor de Flota" %}{% endblock %}

{% block content %}
    <h1>{{ titulo_pagina }}</h1>

    {% if vehiculos %}
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>{% trans "Patente" %}</th>
                    <th>{% trans "Marca" %}</th>
                    <th>{% trans "Modelo" %}</th>
                    <th>{% trans "Año" %}</th>
                    <th>{% trans "Kilometraje" %}</th>
                    <th>{% trans "En Reparación" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                    <tr>
                        <td>{{ vehiculo.patente }}</td>
                        <td>{{ vehiculo.marca }}</td>
                        <td>{{ vehiculo.modelo }}</td>
                        <td>{{ vehiculo.año }}</td>
                        <td>{{ vehiculo.kilometraje }}&nbsp;km</td> {# &nbsp; para espacio no rompible #}
                        <td>{% if vehiculo.en_reparacion %}{% trans "Sí" %}{% else %}{% trans "No" %}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-info">{% trans "No hay vehículos registrados." %}</p>
    {% endif %}
{% endblock %}
